@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
    }

    #login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > div#formulario {
        float: right;
        width: 67%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    #login {
        width: 950px;
    }

    #login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > div#formulario {
        float: left;
        width: 50%;
    }

    #login > h1 {
        font-size: 2em;
    }

    #login > p {
        font-size: 2em;
    }
}